/* Reset some default styles */
body {
  font-family: "Helvetica", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #34495E;
  color: #ecf0f1;
  padding: 15px  0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #faf5f5;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 28%;
  border-radius: 20px;
  margin: 20px 10px;
}

@media screen and (max-width: 1179px) {
  .col {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .col {
    width: 95%;
    margin: 15px auto;
  }
  main {
    height: 500px !important;
  }
}

.main {
  border: 1px solid #dfddddf1;
  border-radius: 0 0 5px 5px;
}

main {
  padding: 0 25px 0 25px;
  height: 700px;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-track {
  background: #ccc;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #34495E;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@keyframes hideop {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes showop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

.show {
  animation: showop 0.5s linear 0s;
  animation-fill-mode: forwards;
}

.hide {
  animation: hideop 0.5s linear 0s;
  animation-fill-mode: forwards;
}

.category-title {
  font-size: 20px;
  color: #ecf0f1;
  font-weight: bold;
  padding: 10px;
  background-color: #34495E;
  border-radius: 5px 5px 0 0;
  user-select: none;
  cursor: pointer;
}

article {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #dfddddf1;
  padding: 0px 20px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #dfdddd;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #34495E;
  color: #34495E;
}

/* Improved Styles */
article h2 {
  color: #ecf0f1;
  font-size: 24px;
}

article a {
  text-decoration: none;
  word-wrap: break-word;
}

article a:active {
  color: #008cff;
}

.news-attr {
  font-size: 14px;
  color: #666;
}

footer p {
  font-size: 14px;
  color: #ecf0f1;
}

footer a {
  text-decoration: none;
  color: #ecf0f1;
}