/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #faf5f5;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 28%;
  border: 1px solid #dfdddd;
  border-radius: 20px;
}

@media screen and (max-width: 1179px) {
  .col {
    width: 100%;
  }
}

main {
  padding: 30px;
  height: 700px;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-track {
  background: #ccc;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.category-title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

article {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #dfdddd;
  padding: 0px 20px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #dfdddd;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

/* Improved Styles */
article h2 {
  color: #444;
  font-size: 24px;
}

article a {
  text-decoration: none;
  color: #444;
  word-wrap: break-word;
}

.news-attr {
  font-size: 14px;
  color: #666;
}

footer p {
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #fff;
}
